@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

html, body{
    height: 100%;
    width: 100%;
}

:root{
    --bg-color: #8f8f8f;
    --accent-color: #cccccc;
    --texcolor-light: #ffffff;
    --texcolor-dark: #4f4f4f;
    --red-color-primary: #e7191f;
    --red-color-accent: #ff6d72;
    --titles-text-size: 1.2rem;
}


main {
    display: grid;
    background-color: var(--bg-color);
    grid-template-rows: repeat(2, auto) 2rem;
    grid-template-areas:
    "form"
    "dashboard"
    "footer";
}

footer{
    grid-area: footer;
}

.section-entry{
    grid-area: form;
    display: grid;
    color: var(--texcolor-light);
    padding: 2rem;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, max-content) 5.5rem repeat(3, max-content);
    gap: 1.5rem;
}

.div-elements-primary{
    display: grid;
    align-items: center;
    justify-content: start;
    grid-template-columns: 14rem;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: "label" "input";
    gap: 0.5rem;
}

.div-elements-secondary{
    display: grid;
    align-items: center;
    justify-content: start;
    grid-template-columns: 14rem;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas:
    "label"
    "input"
    "button";
    gap: 0.5rem 1rem;
}

.label-custom{
    grid-area: label;
    font-size: var(--titles-text-size);
}

.input-field{
    grid-area: input;
    border: none;
    height: 1.7rem;
    border-radius: 0.6rem;
    padding: 0.25rem 0.55rem;
}

#prev-cash-input{
    border: 0.125rem var(--texcolor-light) solid;
    height: calc(1.7rem + 0.25rem);
}

.btn-custom{
    color: var(--texcolor-dark);
    transition: background 0.2s ease;
    cursor: pointer;
    border: none;
    border-radius: 2.5rem;
    padding: 0.8rem 0;
}

.btn-custom:active{
    background-color: var(--accent-color);
}

.btn-primary{
    grid-area: auto;
    justify-self: start;
    width: 10rem;
    margin: 0.5rem 0 1.3rem 0;
}

.btn-secondary{
    grid-area: button;
    width: 6rem;
}

.btn-round{
    grid-area: button;
    width: 2.8rem;
    height: 2.8rem;
    font-size: var(--titles-text-size);
}

#prev-cash-save-btn{
    display: none;
}

.cmb{
    width: 10rem;
    position: relative;
    z-index: 2;    
}

.cmb select{
    appearance: none;
    border: 0.125rem solid var(--texcolor-dark);
    color: var(--texcolor-dark);
    position: relative;
    z-index: 3;
    cursor: pointer;
    transition: background .2s ease;
    border-radius: 1rem;
    padding-left: 0.55rem;
    padding-right: 1.7rem;
    height: 2rem;
    width: 100%;    
}

.cmb select:active{
    background-color: var(--accent-color);
}

.cmb i{
    border-radius: 1rem;
    color: var(--texcolor-dark);
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    pointer-events: none;
    z-index: 4;
    width: 2rem;
}

.div-prev-cash{
    grid-template-columns: 14rem auto;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
    "label button"
    "input button";
}

.section-dashboard{
    grid-area: dashboard;
    display: grid;
    color: var(--texcolor-light);
    padding: 2rem;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, max-content);
    gap: 1.5rem;
}

.span-title{
    font-size: var(--titles-text-size);
}

.div-dashboard-table{
    display: none;
}

.div-dashboard-cards{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto, max-content);
    gap: 1rem;
}

.dashboard-cmb-cards{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.dashboard-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, max-content);
    grid-template-areas:
    "description_title description_content"
    "amount_title amount_content"
    "payment_method_title payment_method_content"
    ". del_btn";
    gap: 0.5rem;
    border: none;
    border-radius: 0.6rem;
    padding: 0.6rem;
    background-color: var(--texcolor-light);
    color: var(--texcolor-dark);

}

.label-description{
    grid-area: description_title;
}

.label-amount{
    grid-area: amount_title;
}

.label-payment-method{
    grid-area: payment_method_title;
}

.span-description{
    grid-area: description_content;
}

.span-amount{
    grid-area: amount_content;
}

.span-payment-method{
    grid-area: payment_method_content;
}

.dashboard-cmb{
    width: max-content;
}

.dashboard-cmb select{
    width: max-content;
}

.dashboard-card-total{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: none;
    border-radius: 0.6rem;
    padding: 0.6rem;
    background-color: var(--texcolor-light);
    color: var(--texcolor-dark);
}

.btn-trash{
    grid-area: del_btn;
    color: var(--texcolor-light);
    background-color: var(--red-color-primary);
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 1.125rem;
    border: 0;
    font-size: var(--titles-text-size);
    cursor: pointer;
    transition: background 0.2s ease;
    justify-self: end;
}

.btn-trash:active{
    background-color: var(--red-color-accent);
}

.div-dashboard-output{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding-top: 1rem;
}

.textarea-custom{
    resize: vertical;
    width: 100%;
    min-height: 10rem;
    padding: 0.6rem;
    border: none;
    border-radius: 0.6rem;
}

#report-output-btn{
    padding: 1.5rem 0;
}

.dashboard-cards, .dashboard-card-total, .div-dashboard-table, .textarea-custom{
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px){
    .btn-custom:hover, .cmb select:hover{
        background-color: var(--accent-color);
    }

    .btn-trash:hover{
        background-color: var(--red-color-accent);
    }

    main{
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto 3rem;
        grid-template-areas:
        "form dashboard"
        "footer footer"; 
    }
    
    .section-entry{
        padding: 2rem 0 2rem 3.6rem;
    }

    .div-dashboard-cards{
        display: none;
    }

    .div-dashboard-table{
        display: grid;
        grid-template-columns: repeat(2, max-content) fit-content(18rem) 1fr;
        grid-template-rows: repeat(auto, max-content);
        grid-template-areas:
        "header_description header_amount header_payment_method header_payment_method"
        "sale_content sale_content sale_content sale_content";
        row-gap: 0.5rem;
        column-gap: 1rem;
        align-items: center;
        color: var(--texcolor-dark);
        background-color: var(--texcolor-light);
        border: none;
        border-radius: 0.6rem;
        padding: 0.6rem;
    }

    .header-description{
        grid-area: header_description;
    }

    .header-amount{
        grid-area: header_amount;
    }

    .header-payment-method{
        grid-area: header_payment_method;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-self: start;
        gap: 0.5rem;
    }

    .sale-content{
        display: contents;
        grid-area: sale_content;
    }
    
    .btn-trash{
        grid-area: auto;
    }
}
    
@media (min-width: 1024px) {
    .div-elements-secondary{
        grid-template-columns: 14rem auto;
        grid-template-rows: repeat(2, max-content);
        grid-template-areas:
        "label button"
        "input button";
    }

    .header-payment-method{
        flex-direction: row;
        align-items: center;
    }
}
